/* common css for all pages - start */

body {
    font-family: 'Nunito Sans', sans-serif;
}

.banner-img {
    height: 90vh !important;
    width: 100% !important;
}

.banner-text {
    position: absolute;
    bottom: 25%;
    left: 6%;
    color: #fff !important;
}

.head-text {
    font-size: 60px;
    line-height: 64px;
    /* padding-bottom: 22px; */
    width: 50%;
}

.body-text {
    font-size: 20px;
    line-height: 24px;
    width: 50%;
}

.padding-row {
    padding-top: 64px;
}

.text-black {
    color: #000 !important;
}

/* common css for all pages - end */

/* expert insights css  start*/

.expert-banner-img {
    height: 400px !important;
    background: rgba(25, 71, 135, 0.4);
}

.expert-banner {
    position: absolute;
    bottom: 36%;
    padding-left: 125px;
    color: #111215 !important;
}

.expert-body {
    padding: 0px 125px 120px 125px;
}

/* expert insights css  end*/

.img-border {
    border-radius: 20px;
}

.img-height {
    object-fit: cover;
    height: 285px;
}

/* image hover css start */

.hover-effect .content-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    height: 100%;
    width: auto;
    left: 15px;
    top: 0;
    bottom: 0;
    right: 15px;
    opacity: 1;
    border-radius: 20px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.padding-section {
    padding-top: 30px;
}

.play-btn {
    position: absolute;
    opacity: 0;
}

.play-btn .fa {
    color: #fff;
}

.w-85 {
    width: 85% !important;
}

.one-line-text,
.img-link-text {
    position: absolute;
    color: #fff;
    left: 50%;
    transform: translate(-50%, 0%);
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    z-index: 99;
}

.one-line-text {
    bottom: 30px;
}

.img-link-text {
    bottom: 17px;
    width: 75%;
}

.hover-effect:hover .play-btn {
    opacity: 1;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    transition: opacity .4s ease;
    z-index: 9;
}

.hover-effect:hover .img-height {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    transition: .4s ease-in-out;
}

.hover-effect:hover .content-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    transition: .4s ease-in-out;
    z-index: 9;

}

.hover-effect:hover .one-line-text {
    transform: translate(-50%, -250%);
    transition: .4s ease-in-out;
}

.hover-effect:hover .img-link-text {
    transform: translate(-50%, -100%);
    transition: .4s ease-in-out;
}

/* image hover css end */