/* common css for all pages - start */
html,
body {
    font-size: 16px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.banner-img {
    height: 90vh;
    height: calc(var(--vh, 1vh) * 90);
    width: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    bottom: 25%;
    left: 6%;
    color: #fff;
}

.body-text {
    font-size: 1.25em;
    line-height: 24px;
    width: 50%;
}

.brand-head-text,
.head-text {
    font-size: 4em;
    line-height: 64px;
    width: 50%;
}

.category-section {
    padding: 116px 0px 0px;
    /* background: #E5E5E5; */
}

.overlay-one,
.overlay-two {
    position: relative;
}

.overlay-one:after {
    content: " ";
    position: absolute;
    width: 80%;
    border-radius: 20px;
    left: 10%;
    bottom: 0;
    height: 100%;
    -moz-box-shadow: 0px 16px 0px #CCCCCC;
    -webkit-box-shadow: 0px 16px 0px #cccccc;
    box-shadow: 0px 16px 0px #cccccc;
    z-index: 9;

}

.overlay-two:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 20px;
    z-index: 100;
}

.overlay-two:after {
    z-index: 10;
    content: " ";
    position: absolute;
    width: 90%;
    border-radius: 20px;
    left: 5%;
    bottom: 0;
    height: 100%;
    -moz-box-shadow: 0px 8px 0px #a6a6a6;
    -webkit-box-shadow: 0px 8px 0px #a6a6a6;
    box-shadow: 0px 8px 0px #a6a6a6;
}


.img-text {
    position: absolute;
    z-index: 101;
    font-size: 1.375em;
    line-height: 30px;
    color: #FFFFFF;
    font-weight: bold;
    width: 65%;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.img-zindex {
    position: relative;
    z-index: 99;
}

.padding-row {
    padding-bottom: 64px;
}

/* common css for all pages - end */

/* expert insights css  start*/

.expert-banner-img {
    height: 90vh;
    height: calc(var(--vh, 1vh) * 90);
    background: rgba(25, 71, 135, 0.4);
}

.expert-banner {
    position: absolute;
    bottom: 15%;
    left: 9%;
    /* padding-left: 125px; */
    color: #111215;
}

/* .expert-body {
    padding: 0px 125px 120px 125px;
} */

/* .content-body {
    padding: 0px 125px 120px 125px;
} */

/* expert insights css  end*/

.img-border {
    border-radius: 20px;
}

.img-height {
    object-fit: cover;
    height: 285px;
}

/* image hover css start */
.hover-effect .content-overlay:after {

    content: "";
    position: absolute;
    width: auto;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 1) 100%);
    left: 15px;
    right: 15px;
    border-radius: 20px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.padding-section {
    margin-bottom: 30px;
}

.play-btn {
    position: absolute;
    opacity: 0;
}

.play-btn .fa {
    color: #fff;
}

.w-85 {
    width: 85%;
}

.one-line-text,
.img-link-text {
    position: absolute;
    color: #fff;
    left: 50%;
    transform: translate(-50%, 0%);
    font-weight: 700;
    font-size: 1.25em;
    line-height: 22px;
    z-index: 99;
}

.one-line-text {
    bottom: 30px;
}

.img-link-text {
    bottom: 17px;
    width: 75%;
}

.hover-effect:hover .play-btn {
    opacity: 1;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    transition: opacity .4s ease;
    z-index: 9;
}

.hover-effect:hover .img-height {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    transition: .4s ease-in-out;
}

.hover-effect:hover .content-overlay:after {
    content: "";
    position: absolute;
    width: auto;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    border-radius: 20px;
    transition: .4s ease-in-out;
}

.hover-effect:hover .one-line-text {
    transform: translate(-50%, -250%);
    transition: .4s ease-in-out;
}

.hover-effect:hover .img-link-text {
    transform: translate(-50%, -100%);
    transition: .4s ease-in-out;
}

/* image hover css end */

/* responsive media query */
@media (max-width: 1100px) {
    /* .brand-head-text {
        width: 75%;
    } */

    .body-text {
        width: 75%;
    }
}

@media (max-width: 767px) {

    html,
    body {
        font-size: 14px;
    }

    .head-text {
        width: 100%;
        line-height: 50px;
    }

    .category-section {
        padding: 75px 0px 0px;
    }

    .brand-head-text {
        width: 75%;
        line-height: 50px;
    }

    .body-text {
        width: 75%;
    }
}

@media (max-width: 575px) {

    html,
    body {
        font-size: 12px;
    }

    .banner-text {
        bottom: 20%;
    }

    .category-section {
        padding: 75px 0px 0px;
    }

    .body-text {
        width: 90%;
    }

    .padding-row {
        display: flex;
        justify-content: center;
    }
}